[Unit]
Description=Run motd-joke once per day

[Timer]
OnCalendar=daily
OnActiveSec=0
Persistent=true
Unit=motd-joke-runner

[Install]
WantedBy=timers.target